---
Checks: "*,
        -abseil-*,
        -altera-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-identifier-length,
        -readability-magic-numbers,
        -hicpp-signed-bitwise,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-avoid-magic-numbers,
        -misc-non-private-member-variables-in-classes,
        -readability-redundant-access-specifiers,
        -bugprone-unchecked-optional-access,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
